@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Helvetica+Neue:wght@300..700&display=swap");

:root {
  --color-blue: #4ADBAE;
  --color-blue-hover: #4ADBAEaa;
  --color-gray: #f5f5f5;
  --color-light-gray: #fafafa;
  --color-black: black;
  --color-dark-blue: #1B2B3F;
  --color-input-border: #aaa;
  --color-text: #242424;
  --color-text-light: #333;
  --color-focus-ring: #ececec;
  --color-focus-ring-semi: #ececec99;

  --font: "Helvetica Neue", sans-serif;
  --codeFont: "Source Code Pro", monospace;
}

body,
html {
  margin: 0;
  font-family: var(--font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: var(--color-light-gray);
  min-height: 100vh;
  color: var(--color-text);
}

input {
  border-radius: 8px;
  border: 1px solid var(--color-input-border);
  box-shadow: 0;
  transition: 0.2s all;
  padding: 12px 18px;
  font-size: 16px;
  font-family: var(--font);
}

input:focus {
  border: 1px solid var(--color-blue);
  box-shadow: 0 0 0px 3px var(--color-focus-ring);
  outline: 0;
}

button {
  border-radius: 4px;
  color: var(--color-dark-blue);
  background-color: var(--color-blue);
  padding: 12px 18px;
  border: 1px solid var(--color-blue);
  cursor: pointer;
  transition: 0.2s all;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font);
  display: flex;
  gap: 12px;
  transition: .2s all;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--color-blue-hover);
  border: 1px solid var(--color-blue-hover);
}

button:disabled,
button:hover:disabled {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  opacity: 0.4;
  cursor: default;
}

button:disabled:active,
button:disabled:focus {
  box-shadow: none;
}


button:focus,
button:active {
  box-shadow: 0 0 0 3px var(--color-focus-ring);
  outline: none;
}

pre, code {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}