.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.menu {
  min-width: 300px;
  max-width: 300px;
  background-color: var(--color-gray);
  min-height: 100vh;
  padding-top: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
